<div class="message">
<div class="outgoing_msg">
    <div class="sent_msg">
        <p><%= "#{message.content}" %></p>
        <span class="time_date"> <%= l(message.created_at, format: :long) %></span>
    </div>
</div>
</div>
