<% provide(:title, '友達一覧') %>
<div class="container">
  <div class="messaging">
    <div class="inbox_msg">
      <%= render partial: 'layouts/chat_index'%>
      <div class="container-index text-center">
        <h1>CHATAPP!<h1>
        <h3>プライベートなトーク空間を</h3>
      </div>
    </div>
  </div>
</div>
