<% provide(:title, @user.name ) %>
<div class="container">
  <div class="messaging">
    <div class="inbox_msg">
      <%= render partial: 'layouts/chat_index'%>
      <div class="container-show text-center">
        <div class="show-image">
            <img src="/human_image.jpeg">
        </div>
        <h3><%= @user.name %></h3>
        <% if @user.rooms.any? %>
          <%= link_to room_path(@room) do %>
            <button class="btn btn-talk btn-xs">
              <h4 style="font-weight: bold;">トーク画面へ</h4>
            </button>
          <% end %>
        <% else %>
          <%= link_to new_room_path do %>
            <button class="btn btn-talk btn-xs">
              <h4 style="font-weight: bold;">トーク</h4>  
            </button>
          <% end %>
        <% end %>
        </button>
      </div>
    </div>
  </div>
</div>
