<% provide(:title, 'ルーム一覧') %>
<% if @rooms.any? %>
  <div class="text-center">
    <ul>
      <% @rooms.each do |room| %>
        <li><%= link_to "ROOM#{room.id}", room_path(room) %></li>
      <% end %>
    </ul>
  </div>
<% else %>
  <div class="text-center">
    <h3>まだチャットルームがありません</h3>
    <button class='btn btn-primary-room'>
      <%= link_to 'チャットを開始する', new_room_path %>
    </button>
  </div>
<% end %>
