<% provide(:title, 'ルーム一覧') %>
<% if @rooms.any? %>
  <div class="text-center">
    <ul>
      <% @rooms.each do |room| %>
      <% @room_user = RoomUser.find_by(room_id: room.id) %>
        <% if room.owner_id == current_user.id %>
          <li><%= link_to "#{@room_user.user.name}とのトークルーム", room_path(room) %></li>
        <% elsif @room_user.user_id == current_user.id %>
        <% user = User.find_by(id: room.owner_id) %>
          <li><%= link_to "#{user.name}とのトークルーム", room_path(room) %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% else %>
  <div class="text-center">
    <h3>まだチャットルームがありません</h3>
    <button class='btn btn-primary-room'>
      <%= link_to 'チャットを開始する', new_room_path %>
    </button>
  </div>
<% end %>
