<footer>
  <div class="container">
    <div class="row col-lg-12">
      <ul class="list-inline">
        <li class="list-inline-item">
          <%= link_to "CHATAPPって？", about_path %>
        </li>
        <li class="list-inline-item">|</li>
        <li class="list-inline-item">
          <%= link_to "Contact", '#' %>
        </li>
        <li class="list-inline-item">|</li>
        <li class="list-inline-item">
          <%= link_to "プライバシーポリシー", privacy_path %>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="text-center">
      <p>@2019 Reviewees All Rights Reserved</p>
    </div>
  </div>
</footer>
